tenancy_ocid        = "ocid1.tenancy.oc1..xxxxxx"
user_ocid           = "ocid1.user.oc1..xxxxxx"
fingerprint         = "xx:xx:xx:xx:xx:xx:xx:xx:xx:xx:xx:xx:xx:xx:xx:xx"
private_key_path    = "/home/opc/.oci/oci_api_key.pem"
region              = "ap-mumbai-1"
compartment_ocid    = "ocid1.compartment.oc1..xxxxxx"
subnet_ocid         = "ocid1.subnet.oc1.ap-mumbai-1.xxxxxx"
availability_domain = "xXxx:AP-MUMBAI-1-AD-1"
image_id            = "ocid1.image.oc1.ap-mumbai-1.xxxxxx" # Find the correct Ampere Aarch64 image OCID for your region
ssh_public_key      = "ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABgQC..."
instance_name       = "DKGL-INSTANCE2"
